@page
@model Frontas.Pages.EventTaskPageModel
@{
    ViewData["Title"] = "Uzduotis";
}

@if (Model.TaskResponse != null)
{
    <div class="modHead">
        <a href="/EventPage?id=@Model.TaskResponse.EventId" class="user-info-link"><h3>Grįžti prie renginio</h3></a>

        <form method="post" asp-page-handler="Delete" style="display: inline;">
            <input type="hidden" name="taskId" value="@Model.TaskResponse.Id" />
            <input type="hidden" name="eventId" value="@Model.TaskResponse.EventId" />
            <button type="submit" class="deleteHover">Ištrinti</button>
        </form>
    </div>
    <br />
    <h3>Užduotis</h3>
    <a href="/ModTaskPageModel?id=@Model.TaskResponse.Id&eventId=@Model.TaskResponse.EventId" class="user-info-link">
        <div class="event-details">
            <h2>@(Model.TaskResponse.Title ?? "Unknown Task")</h2>
            <p>@(Model.TaskResponse.Description ?? "No description provided")</p>
            <p>Atlikti iki: @(Model.TaskResponse.ScheduledTime?.ToString("yyyy-MM-dd") ?? "Not Scheduled")</p>
            <p>@Model.TaskResponse.Status</p>
            <p>
                Atsakingas darbuotojas:
                @if (Model.TaskEmployees.Any())
                {
                    <ul>
                        @foreach (var employee in Model.TaskEmployees)
                        {
                            <li>
                                @employee.FirstName @employee.LastName
                                <form method="post" asp-page-handler="RemoveUser" style="display: inline;">
                                    <input type="hidden" name="userId" value="@employee.Id" />
                                    <input type="hidden" name="taskId" value="@Model.TaskResponse.Id" />
                                    <input type="hidden" name="eventId" value="@Model.EventId" />
                                    <button type="submit">Pašalinti</button>
                                </form>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <i>Nėra priskirtų darbuotuojų</i>
                }
            </p>
        </div>
    </a>

    <h3>Pridėti darbuotoją</h3>
    <form method="post" asp-page-handler="AssignTask" id="assignTaskForm">
        <input type="hidden" name="taskId" value="@Model.TaskResponse.Id" />
        <input type="hidden" name="eventId" value="@Model.TaskResponse.EventId" />
        <div class="form-group">
            <select id="userId" name="userId" class="form-control" required>
                <option value="">...</option>
                @foreach (var employee in Model.AllEmployees)
                {
                    <option value="@employee.Id">@employee.FirstName @employee.LastName</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Pridėti</button>
    </form>
}
