@page "/ModEmployeePageModel"
@model Frontas.Pages.ModEmployeePageModel
@{
    ViewData["Title"] = "Redaguoti darbuotoją";
}

<div class="container">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            <p>@Model.ErrorMessage</p>
        </div>
    }
    else if (Model.EmployeeResponse != null)
    {
        <div class="modHead">
            <h1>Redaguoti darbuotoją</h1>
            <form method="post" asp-page-handler="Delete" style="display: inline;">
                <input type="hidden" name="EmployeeResponse.Id" value="@Model.EmployeeResponse.Id" />
                <input type="hidden" name="EventId" value="@Model.EventId"/>
                <input type="hidden" name="RequestMethod" value="DELETE" />
                <button type="submit" class="deleteHover">Ištrinti darbuotoją iš duomenų bazės</button>
            </form>


        </div>

        <form method="post">
            <input type="hidden" name="EmployeeResponse.Id" value="@Model.EmployeeResponse.Id" />
            <div class="form-group">
                <label for="firstName">Vardas</label>
                <input type="text" id="firstName" name="EmployeeResponse.FirstName" class="form-control" value="@Model.EmployeeResponse.FirstName" required />
            </div>
            <div class="form-group">
                <label for="lastName">Pavardė</label>
                <textarea id="lastName" name="EmployeeResponse.LastName" class="form-control">@Model.EmployeeResponse.LastName</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Atnaujinti</button>
        </form>
    }
    else
    {
        <div class="alert alert-warning">
            <p>Employee not found.</p>
        </div>
    }
</div>


