@page "/UserPage"
@model Frontas.Pages.UserPageModel
@{
    ViewData["Title"] = "Vartotojas";
}

<div class="container">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            <p>@Model.ErrorMessage</p>
        </div>
    }
    else if (Model.EmployeeResponse != null)
    {
        <div class="modHead">
            <a href="/EventPage?id=@Model.EventId" class="user-info-link"><h3>Grįžti prie renginio</h3></a>

            <form method="post" asp-page-handler="Delete" style="display: inline;">
                <input type="hidden" name="EmployeeId" value="@Model.EmployeeResponse.Id" />
                <input type="hidden" name="eventId" value="@Request.Query["eventId"]" />
                <button type="submit" class="deleteHover">Pašalinti darbuotoją iš renginio</button>
            </form>
        </div>

        <br />
        <h3>Vartotojas</h3>
        <a href="/ModEmployeePageModel?id=@Model.EmployeeResponse.Id&eventId=@Model.EventId" class="Employee-info-link">
            <div class="event-details">
                <h1>@Model.EmployeeResponse.FirstName&nbsp;</h1>
                <h1>@Model.EmployeeResponse.LastName</h1>
            </div>
        </a>
        
        <div class="row">
            @foreach (var uzduotis in Model.TaskResponse)
            {
                <div class="col-md-3">
                    <a href="/EventTaskPage?id=@uzduotis.Id&eventId=@uzduotis.EventId" class="event-link">
                        <div class="task">
                            <h4>@uzduotis.Title</h4>
                            <p>Status: @uzduotis.Status</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning">
            <p>Event not found.</p>
        </div>
    }
</div>
